## This is an example local.properties file.
## Copy this file to local.properties and set the sdk.dir to your local Android SDK path.
# sdk.dir=C\:\\Users\\YourUsername\\AppData\\Local\\Android\\Sdk
